/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
mise.toml
.tools-version

# builder folders
_components/
blocks/
sections/
snippets/

# rspec failure tracking
.rspec_status
